# Python
__pycache__/
*.py[cod]
*$py.class
*.so
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Temp/output files
folders.txt
tree_yapisi_sonucu_sade.txt
*.rdml